<div>
 
  <mat-table [dataSource]="movies" class="mat-elevation-z8" >

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Studio" >
      <mat-header-cell *matHeaderCellDef> Studio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.Studio }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Weekend_income">
      <mat-header-cell *matHeaderCellDef> Weekend Income </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.Weekend_income }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click) = "toDelete(element)"> Delete Movie</button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>
<div ng-app="myApp" ng-controller="namesCtrl">
  <input type = "text" [(ngModel)]="studio">
  {{studio}}
  <button (click) = "changeStudio()">Filter movies</button>
  <mat-form-field>
    <mat-select placeholder="Choose studio"  [(value)]="studio">
      <mat-option *ngFor="let stud of studios" [value]="stud">
        {{stud}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{ name }}</div>